<div class="container">
  <div class="row d-flex justify-content-center">
    <div class="col-8">
      <h3 class="text-center my-4">フォロー</h3>
        <% if @customers.exists? %>
          <%= render "public/customers/index", customers: @customers %>
        <% else %>
          <p>ユーザーはいません</p>
        <% end %>
    </div>
  </div>
  <div class="row d-flex justify-content-center my-4">
    <%= link_to 'マイページへ', mypage_path(current_customer.id), class: "btn btn-secondary" %>
  </div>
</div>