<% if @model == 'customer' %>
  <div class="container px-5 px-sm-0">
    <div class="row">
      <div class="col-10">
        <h3 class="my-5">検索結果 "<%= @content %>"</h3>
        <%= render 'public/customers/index', customers: @records %>
      </div>
    </div>
  </div>
<% elsif @model == 'post' %>
  <div class="container px-5 px-sm-0">
    <div class="row">
      <div class="col-10">
        <h3 class="my-5">検索結果 "<%= @content %>"</h3>
        <%= render 'public/posts/index', posts: @records %>
      </div>
    </div>
  </div>
<% end %>