<div class="container">
  <div class="row">
    <div class="col">
      <h4 class="my-5"><%= @customer.name %>さんの会員詳細</h4>
        <%= render 'info', customer: @customer %>
    </div>

    <div class="col">
      <h3 class="my-5">投稿一覧</h3>
        <%= render "admin/posts/index", posts: @posts %>
    </div>
  </div>
</div>